// IMPOPRT
@import "global";
@import "mediaqueries";
// IMPOPRT

// TOP HEADER
.top_header {
  min-height: 20px;
  margin-bottom: 100px;
  width: 100vw;
  background: black;
}
// TOP HEADER

// HERO SECTION
.hero_section {
  padding: 0 20px 0 30px;
  &_position {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    .hero_section_left {
      margin-bottom: 60px;
      background-image: url("../../images/my/main.jpg");
      background-size: cover;
      background-position: top right;
      background-repeat: no-repeat;
      height: 550px;
      width: 500px;
      border: 10px solid black;
      position: relative;
      &::after {
        content: "";
        top: 9px;
        height: 100%;
        width: 100%;
        left: -30px;
        position: absolute;
        border: 10px solid crimson;
        z-index: -1;
      }
    }
    .hero_section_right {
      &_position {
        ul {
          display: flex;
          li {
            padding: 10px;

            .reddot {
              background-color: red;
              border-radius: 30px;
              height: 30px;
              width: 30px;
              border: black 3px solid;

              &:hover {
                border-radius: 25px;
                transition: 0.5s;
                height: 40px;
                width: 40px;
                border: black 3px solid;
              }
            }
            .greendot {
              background-color: greenyellow;
              border: black 3px solid;
              border-radius: 30px;
              height: 30px;
              width: 30px;
              &:hover {
                border-radius: 25px;
                transition: 0.5s;
                height: 40px;
                width: 40px;
                border: black 3px solid;
              }
            }
            .yellowdot {
              background-color: yellow;
              border: black 3px solid;
              border-radius: 30px;
              height: 30px;
              width: 30px;
              &:hover {
                border-radius: 25px;
                transition: 0.5s;
                height: 40px;
                width: 40px;
                border: black 3px solid;
              }
            }
          }
        }
      }
    }
  }
}
// HERO SECTION

// SERVICES SECTION
.services_section {
  &_header {
    padding: 0 40px;
    margin-bottom: 60px;
  }
  &_columns {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    &_column {
      border-radius: 12px;
      box-shadow: -1rem 0 3rem #000;
      background-color: #16384c;
      color: white;
      text-align: center;
      padding: 10px 20px;
      margin: 15px;
      line-height: 1.5;
      max-width: 350px;
      &:hover {
        padding: 20px;
        background-color: #4299f0;
        align-items: center;
        transition: 0.5s ease-in-out;
      }
      &_logo {
        padding: 20px 0;
      }
    }
  }
}
// SERVICES SECTION

// WORKS
.work_section {
  &_header {
    padding: 0 40px;

    margin-bottom: 60px;
  }
  &_cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 16px;

    &_card {
      display: flex;
      flex-direction: column;
      max-width: 350px;
      height: 180px;
      position: relative;
      margin: 50px 10px;
      border-radius: 12px;
      background-color: #16384c;
      box-shadow: -1rem 0 3rem #000;
      padding: 20px;
      transition: 0.5s ease-in-out;
      &:hover {
        // transform: translateY(-1rem);
        height: 320px;
      }
      &:hover > &_desc {
        visibility: visible;
        top: -50px;
        opacity: 1;
        transition: 0.6s ease-in-out;
      }
      &_image {
        margin: 0 auto;
        position: relative;
        height: 250px;
        top: -60px;
        width: 300px;
        z-index: 1;
        img {
          border-radius: 8px;
          max-width: 100%;
          min-height: 200px;
        }
      }

      &_desc {
        color: white;
        top: -50px;

        position: relative;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s ease-in-out;
      }
    }
  }
}
// WORKS

// CONTACT
.contact_section {
  margin: 0 auto;
    padding: 0 40px;

    margin-bottom: 60px;
  }
  &_body {
    &_cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: center;
      align-items: center;
      &_card {
        display: flex;
        flex-direction: column;
        // justify-content: space-around;
        margin: 20px;
        border-radius: 10px;
        box-shadow: -1rem 0 3rem #000;
        padding: 10px;
        height: 200px;
        width: 250px;
        background-color: #4299f0;
        &:hover {
          background-color: #004992;
          padding: 20px;
          height: 220px;
          width: 270px;
          transition: 0.5s ease-in-out;
        }
        &_logo {
          position: relative;
          top: 35%;
        }
        &_desc {
          position: relative;
          color: whitesmoke;
          top: 15% !important;
          visibility: hidden;
          opacity: 0;
          font-size: 1.2rem;
          font-weight: bolder;
        }
        &:hover > &_desc {
          visibility: visible;
          transition: 0.5s ease-in-out;
          opacity: 1;
        }
        &:hover > &_logo {
          visibility: hidden;
        }
      }
    }
  }
}
// CONTACT
