// IMPOPRT
@import "global";
// IMPOPRT

// TOP HEADER
.top_header {
  // margin-bottom: 100px;
  min-height: 20px;
  width: 100vw;
  background: black;
}
// TOP HEADER

// HERO SECTION
.hero_section {
  text-align: center;
  &_position {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    .hero_section_left {
      ul {
        display: flex;

        li {
          .reddot {
            background-color: red;
            border-radius: 30px;
            height: 30px;
            width: 30px;
            border: black 3px solid;

            &:hover {
              border-radius: 25px;
              transition: 0.5s;
              height: 40px;
              width: 40px;
              border: black 3px solid;
            }
          }
          .greendot {
            background-color: greenyellow;
            border: black 3px solid;
            border-radius: 30px;
            height: 30px;
            width: 30px;
            &:hover {
              border-radius: 25px;
              transition: 0.5s;
              height: 40px;
              width: 40px;
              border: black 3px solid;
            }
          }
          .yellowdot {
            background-color: yellow;
            border: black 3px solid;
            border-radius: 30px;
            height: 30px;
            width: 30px;
            &:hover {
              border-radius: 25px;
              transition: 0.5s;
              height: 40px;
              width: 40px;
              border: black 3px solid;
            }
          }
          padding: 10px;
        }
      }
    }
    .hero_section_right {
      background-image: url("../../images/my/main.jpg");
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat;

      height: 550px;
      width: 500px;
      border: 10px solid black;
      position: relative;
      &::after {
        content: "";
        top: 9px;
        height: 100%;
        width: 100%;
        left: -30px;
        position: absolute;
        border: 10px solid crimson;
        z-index: -1;
      }
    }
  }
}

// HERO SECTION

// SERVICES SECTION
.services_section {
  &_header {
  }
  &_columns {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &_column {
      background-color: #16384c;
      color: white;
      text-align: center;
      padding: 10px;
      margin: 10px;
      line-height: 1.5;
      max-width: 300px;
      border: 2px solid dotted white;
      &:hover {
        padding: 20px;
        background-color: #4299f0;
        align-items: center;

        transition: 0.5s ease-in-out;
      }
    }
  }
}
// SERVICES SECTION

// WORKS
.work_section {
  &_header {
    margin-bottom: 20px;
  }
  &_cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 16px;

    &_card {
      display: flex;
      flex-direction: column;
      max-width: 300px;
      height: 180px;
      position: relative;
      margin: 50px 10px;
      border-radius: 12px;
      background-color: #16384c;
      box-shadow: -1rem 0 3rem #000;
      padding: 20px;
      transition: 0.5s ease-in-out;
      &:hover {
        // transform: translateY(-1rem);
        height: 300px;
      }
      &:hover > &_desc {
        visibility: visible;
        top: -50px;
        opacity: 1;
        transition: 0.5s ease-in-out;
      }
      &_image {
        margin: 0 auto;
        position: relative;
        height: 250px;
        top: -60px;
        width: 250px;
        z-index: 1;
        img {
          border-radius: 8px;
          max-width: 100%;
          min-height: 200px;
        }
      }

      &_desc {
        color: white;
        top: -50px;

        position: relative;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s ease-in-out;
      }
    }
  }
}

// WORKS
